@media (min-width: 390px) and (max-width: 844px) {
  body {
    background-color: #fffafa;
  }
  .App {
    text-align: center;
    background-color: #fffafa;
    min-height: 100vh;
  }
  /* NAVBAR */
  nav {
    display: flex;
    background-color: #f5f5f5;
    justify-content: space-evenly;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
  nav a {
    color: black;
    font-weight: bold;
    padding: 20px;
  }
  nav a:hover {
    background-color: black;
    color: white;
    border-radius: 70px;
  }
  nav a.nav-inactive {
    text-decoration: none;
  }

  nav a.nav-active {
    background-color: #705052;
    color: white;
    text-decoration: none;
  }
  .nav-dropdown .dropdown-toggle {
    color: black;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
  }

  .nav-dropdown .dropdown-toggle:hover {
    background-color: #705052;
    color: white;
  }

  .nav-dropdown .dropdown-toggle.active {
    background-color: lightgray;
    color: gray;
  }

  /* PROFILE */
  .profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .profile-left {
    flex: 1;
  }
  .username-profile {
    position: absolute;
    margin-top: 70px;
    top: -5%;
    left: 7%;
    color: black;
    font-weight: bolder;
  }
  .first-last-name {
    position: absolute;
    font-weight: bold;
    margin-top: 70px;
    top: 2%;
    left: 7%;
  }
  .image-profile {
    margin-top: 2px;
    margin-right: 50px;
  }
  .followers-profile {
    position: absolute;
    top: 7%;
    left: 7%;
    margin-top: 70px;
  }
  .description-profile {
    position: absolute;
    top: 12%;
    left: 7%;
    margin-top: 70px;
    font-weight: lighter;
  }

  .profile-blockquote {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
  }
  .profile-container-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .profile-date {
    margin: 0;
    font-weight: lighter;
    align-self: flex-end;
  }
  .profile-content {
    margin: 0px;
    align-self: flex-start;
  }
  .profile-details-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
  .profile-details-likes {
    margin: 0;
    align-self: flex-start;
    margin-top: auto;
  }

  /* HOME */

  .home-container {
    margin-top: 20px;
  }
  .post-username {
    font-weight: bolder;
    color: black;
  }

  .like-post {
    text-align: end;
    font-size: 22px;
  }
  .heart-button {
    border: none;
    font-size: 25px;
    background-color: transparent;
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(420deg);
    }
  }
  .heart-button:hover {
    animation: rotate 1s ease-in-out;
    transform: rotate(90deg);
  }
  .home-page-date {
    text-align: end;
  }
  .blockquote-home {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* POSTS */
  blockquote {
    background: #f8f8ff;
    border-left: 10px solid #aaaa;
    margin-top: 20px;
    padding: 0.5em 10px;
    text-align: start;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
  }
  .link-post {
    text-decoration: none;
    color: black;
  }
  .link-post:hover {
    color: #28b1b5;
  }

  /* Search Page */
  .search-input {
    width: 80%;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
    padding: 10px;
    margin-top: 30px;
  }

  .search-btn {
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
    padding: 10px;
  }

  .search-users {
    text-decoration: none;
    list-style: none;
    color: #333;
    border: 1px solid black;
    padding: 5px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .text-decoration {
    text-decoration: none;
  }

  /* POST DETAILS */
  .post-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .title-post-details {
    margin-top: 20px;
  }

  .blockquote-post-details {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .post-details-username {
    font-weight: bold;
    color: #ff003b;
  }

  .post-detail-date {
    text-align: end;
  }
  .post-detail-likes {
    text-align: end;
    font-size: 22px;
  }
  .input-profile-details {
    width: 70%;
    padding: 10px;
  }

  /* COMMENTS */
  .comments-username {
    color: #468388;
    font-weight: 300;
    text-align: end;
  }
  .comments-date {
    font-weight: lighter;
    border-bottom: 1px solid black;
    text-align: end;
  }

  /* BOTONES */
  .btn-add-post {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 1rem;
    font-weight: bold;
    padding: 1em 2em;
    cursor: pointer;
    text-transform: uppercase;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
  }

  .btn-add-post:hover {
    color: #fff;
    background: #ff003b;
    transition: all 0.35s;
  }

  .follow-button {
    position: absolute;
    top: 27%;
    left: 7%;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
    background-color: black;
    color: white;
  }
  .follow-button:hover {
    background: #ff003b;
    transition: all 0.35s;
  }
  .profile-details-reply-button {
    margin-left: 40px;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: black;
  }
  .profile-details-reply-button:hover {
    background: #28b1b5;
    font-weight: bold;
    transition: all 0.35s;
  }
  .profile-details-button-remove {
    margin-left: auto;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
  }

  .profile-details-button-remove:hover {
    background: #f7cc02;
    font-weight: bold;
    transition: all 0.35s;
    color: white;
  }


  .settings {
    margin-top: 80px;
  }

  /* LOGIN  AND SIGN IN*/
  .signin {
    margin-top: 80px;
  }
  .bg-image {
    background: url(https://res.cloudinary.com/dhtrxjdas/image/upload/v1678992644/safe-space-app/ec00d53b8fa62b96a3d2fa3276de60ff_tq4ul1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bg-image:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 370px;
    padding: 60px 32px;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
  }
  .content h2 {
    color: white;
    font-size: 40px;
    font-weight: 600;
  }
  .field-content {
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
  }
  .field-content span {
    width: 40px;
    line-height: 45px;
  }
  .field-content input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
  }
  input[type="textarea"] {
    height: 200px;
    width: 100%;
    border: none;
    text-align: center;
    resize: vertical;
    overflow: auto;
    white-space: normal;
  }
  .avatar-title {
    margin-top: 10px;
    text-align: start;
    font-weight: bold;
    color: white;
  }
  .redirect {
    text-align: start;
    margin: 10px 0;
    color: white;
  }
  .redirect a {
    color: #28b1b5;
    font-weight: bolder;
    text-decoration: none;
  }
  .redirect:hover a {
    text-decoration: underline;
  }
  .borders {
    border: 1px solid black;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
  }
  /* EDIT */
  .edit-title {
    color: black;
    font-size: 30px;
  }
  /* .color-edit{
    background: url(https://res.cloudinary.com/dhtrxjdas/image/upload/v1678995255/safe-space-app/9e1cd0849c3010cefb376e17586f8aae_xuxjpz.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .color-edit:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.2);
  } */
  /* no */
  .btn-container {
    margin-top: 20px;
  }
  .btn-container button {
    padding: 10px;
    background-color: #28b1b5;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
  }
  .btn-container:hover button {
    background-color: #468388;
  }
  .btn-post {
    padding: 10px;
    background-color: palevioletred;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
    font-size: 20px;
    margin-top: 15px;
    color: white;
  }
  .btn-post:hover {
    background: black;
    color: white;
    font-weight: bold;
  }

  /* SETTINGS */
  .label-stgs {
    margin-bottom: 10px;
    font-weight: lighter;
    position: relative;
    right: 37%;
  }
  .btn-edit {
    padding: 10px;
    margin-top: 10px;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
    background: palevioletred;
    font-weight: 500;
    color: white;
  }
  .btn-edit:hover {
    background: black;
    color: white;
  }

  .wrapper-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
    padding: 5px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 70px;
  }

  /* HELP  */

  h3 {
    margin-top: 20px;
  }
  p {
    line-height: 1.5;
  }
  select {
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
  }
  img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  .help-section {
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .help-section p {
    margin-top: 10px;
  }

  .help-section select {
    margin-top: 10px;
  }

  .help-section ul {
    margin-top: 10px;
    margin-left: 20px;
  }
  .mental-health-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }

  /* / */
  .Appi {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .just-logo {
    background: white;
    min-height: 100vh;
    position: relative;
  }
  .logo-button {
    border: none;
    background: transparent;
  }
  .logo-button img:first-child {
    position: absolute;
    top: 20%;
    left: 0;
  }
  .btn-signup {
    position: absolute;
    top: 65%;
  }
  .btn-login {
    position: absolute;
    top: 75%;
  }
  .btn-container-sign button {
    padding: 10px;
    background-color: #28b1b5;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
  }
  .btn-container-login button {
    padding: 10px;
    background-color: #28b1b5;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
  }
  .btn-container-login:hover button {
    background-color: #0052FF;
  }
  .btn-container-sign:hover button {
    background-color: #0700C4;
  }
  .logo-image-home {
    text-align: start;
    margin-left: 20px;
    margin-top: -15px;
  }
  .error-message {
    color: red;
    background-color: white;
    font-weight: bold;
  }
}
