@media (min-width: 390px) and (max-width: 844px) {
  body {
    background-color: #e5ede8;
  }
  .App {
    text-align: center;
    background-color: #e5ede8;
    min-height: 100vh;
  }
  /* NAVBAR */
  nav {
    display: flex;
    background-color: #e5ede8;
    justify-content: space-evenly;
    margin-top: 20px;
    position: fixed;
    z-index: 10;
    top: 0px;
    margin-top: 0px;
    width: 100%;
  }
  nav a {
    color: black;
    font-weight: bold;
    padding: 20px;
  }
  nav a:hover {
    background-color: #89b898;
    color: black;
    border-radius: 70px;
  }
  nav a.nav-inactive {
    text-decoration: none;
  }

  nav a.nav-active {
    background-color: antiquewhite;
    color: lightcoral;
    text-decoration: none;
  }
  .nav-dropdown .dropdown-toggle {
    color: black;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
  }

  .nav-dropdown .dropdown-toggle:hover {
    background-color: #a9a9a9;
    color: black;
  }

  .nav-dropdown .dropdown-toggle.active {
    background-color: lightgray;
    color: gray;
  }

  /* PROFILE */
  .profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .profile-left {
    flex: 1;
  }
  .username-profile {
    position: absolute;
    margin-top: 70px;
    top: 5%;
    left: 7%;
    color:#1aaae2;
  }
  .username-profile-another-user {
    position: absolute;
    margin-top: 50px;
    top: 5%;
    left: 7%;
    color:#1aaae2;
  }
  .first-last-name {
    position: absolute;
    font-weight: bold;
    margin-top: 70px;
    top: 10%;
    left: 7%;
  }
  .first-last-name-another-user {
    position: absolute;
    font-weight: bold;
    margin-top: 50px;
    top: 10%;
    left: 7%;
  }
  .image-profile {
    margin-top: 2px;
    margin-right: 50px;
  }
  .followers-profile {
    position: absolute;
    top: 15%;
    left: 7%;
    margin-top: 70px;
  }
  .followers-profile-another-user {
    position: absolute;
    top: 15%;
    left: 7%;
    margin-top: 50px;
  }
  .profile-blockquote {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
  }
  .profile-container-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .profile-date {
    margin: 0;
    font-weight: lighter;
    align-self: flex-end;
  }
  .profile-content {
    margin: 0px;
    align-self: flex-start;
  }
  .profile-details-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
  .profile-details-likes {
    margin: 0;
    align-self: flex-start;
    margin-top: auto;
  }

  /* HOME */
  .home-container {
    margin-top: 70px;
  }
  .post-username {
    font-weight: bold;
    color: #1aaae2;
  }
  .like-post {
    text-align: end;
  }
  .heart-button {
    border: none;
    background-color: transparent;
  }
  .home-page-date {
    text-align: end;
  }
  .blockquote-home {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* POSTS */
  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin-top: 20px;
    padding: 0.5em 10px;
    text-align: start;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
  }
  .link-post {
    text-decoration: none;
    color: black;
  }
  .link-post:hover {
    color: lightcoral;
  }

  /* Search Page */
  .search-input {
    width: 80%;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
    padding: 10px;
    margin-top: 20px;
    margin-top: 80px;
  }

  .search-btn {
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
    padding: 10px;
  }

  .search-users {
    text-decoration: none;
    list-style: none;
    color: #333;
    border: 1px solid black;
    padding: 5px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .text-decoration {
    text-decoration: none;
  }

  /* POST DETAILS */
  .blockquote-post-details {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .post-details-username {
    font-weight: bold;
    color: #1aaae2;
  }

  .post-detail-date {
    position: absolute;
    top: 15%;
    left: 55%;
    z-index: 5;
  }
  .post-detail-likes {
    text-align: end;
  }
  .input-profile-details {
    width: 70%;
    padding: 10px;
  }

  /* COMMENTS */
  .comments-username {
    color: #468388;
    font-weight: 300;
    text-align: end;
  }
  .comments-date {
    font-weight: lighter;
    border-bottom: 1px solid black;
  }

  /* BOTONES */
  .btn-add-post {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1rem;
    font-weight: bold;
    padding: 1em 2em;
    cursor: pointer;
    text-transform: uppercase;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
  }

  .btn-add-post:hover {
    color: #fff;
    background: #ff003b;
    transition: all 0.35s;
  }

  .follow-button {
    position: absolute;
    top: 27%;
    left: 7%;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
    background-color: black;
    color: white;
  }
  .follow-button:hover {
    background: #ff003b;
    transition: all 0.35s;
  }
  .profile-details-reply-button {
    margin-left: 20px;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: black;
  }
  .profile-details-reply-button:hover {
    background: #28b1b5;
    font-weight: bold;
    transition: all 0.35s;
  }
  .profile-details-button-remove {
    margin-left: auto;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 225px 15px;
    border-top-right-radius: 15px 255px;
  }

  .profile-details-button-remove:hover {
    background: #f7cc02;
    font-weight: bold;
    transition: all 0.35s;
  }
}
